@import "../app/views/views.css";

/*Prevent iOS zoom when selecting input by making font-size 16px*/
input {
    font-size: 16px;
}

.htl-button {
    cursor: pointer;
}

.htl-sort-handle {
    cursor: ns-resize;
}

.icon-list > * {
    padding: 0 5px;
}