<section class="home">
    <h3>
        <span>Hometown League</span>
        <!-- ko with: leaguePlayer -->
        <span>- <!-- ko text: league.name --><!-- /ko --></span>
        <!-- /ko -->
    </h3>
    <div class="note">
        "My career was sputtering until I did a 360 and got headed in the right direction." - <a href="http://en.wikipedia.org/wiki/Tracy_McGrady" target="_blank">Tracy McGrady</a>
    </div>
    <ul class="link-buttons" data-bind="foreach: linkButtons">
        <li>
            <a class="link-button" data-bind="attr: { href: href }">
                <i data-bind="css: buttonClass"></i>
                <div data-bind="text: caption">Questions</div>
            </a>
        </li>
    </ul>
</section>