<section class="home">
    <h3>Welcome to Hometown League</h3>
    <div class="note">"My career was sputtering until I did a 360 and got headed in the right direction."</div>
    <ul class="link-buttons">
        <li>
            <a class="link-button" href="#surveyResponses">
                <i class="fa fa-list-ol"></i>
                <div>Questions</div>
            </a>
        </li>
        <li>
            <a class="link-button" href="#standings">
                <i class="fa fa-sitemap"></i>
                <div>Standings</div>
            </a>
        </li>
    </ul>
</section>