<section class="login" style="padding: 15px;">
    <form data-bind="submit:login" class="loginForm">
        <fieldset>
            <div style="padding-bottom: 10px;">
                <input type="text" data-bind="value:username" placeholder="Email"/>
            </div>
            <div style="padding-bottom: 10px;">
                <input type="password" data-bind="value:password" placeholder="Password"/>
            </div>
        </fieldset>
        <div>
            <button class="btn-primary" data-role="button">Sign In</button>
        </div>
    </form>
    <div class="error" data-bind="text: error"></div>
</section>