.surveyResponse .save-indicator {
    border: 1px solid;
    display: inline-block;
    padding: 2px;
}

.surveyResponse .questions {
    margin-bottom: 10px;
    box-sizing: border-box;
}

.surveyResponse .question {
    padding: 10px;
    border-bottom: 1px solid;
    font-size: 18px;
}

.surveyResponse .questions > .view-placeholder {
    height: 100px;
    padding: 10px;
    border-bottom: 1px solid;
}

.surveyResponse .answer {
    padding: 5px;
    font-size: 14px;
    display: inline-block;
}

.surveyResponse .question.correct:before {
    content:  "\2713 ";
    color: green;
}

.surveyResponse .question.incorrect:before {
    content:  "x";
    color: red;
}

.surveyResponse .answer.correct {
    font-weight: bold;
    background-color: rgb(243, 243, 194);
    border-radius: 10px;
}