<section class="surveyResponse" style="padding: 15px;" data-bind="with: surveyResponseForm">
    <a data-bind="attr: { href: '#surveyResponses'}"><i class="fa fa-arrow-left"></i> <span>Questions</span></a>
    <h2 data-bind="text: surveyResponse.survey.name"></h2>
    <!-- ko if: surveyResponse.survey.closed -->
    <h3><mark>Deadline passed</mark></h3>
    <!-- /ko -->
    <div class="questions" data-bind="sortable: { data: entries, options: { handle: '.htl-sort-handle' } }">
        <div class="question">
            <!-- ko if: !$root.surveyResponseForm.surveyResponse.survey.closed() -->
            <span class="htl-sort-handle">
                <span data-bind="text: $parent.entries().length - $index() + '.'"></span>
                <span class="icon-list">
                    <i class="fa fa-arrows-v"></i>
                </span>
            </span>
            <!-- /ko -->
            <span class="name" data-bind="text: question.name"></span>
            <div class="answers" data-bind="foreach: question.answers">
                <div class="answer">
                    <input type="radio"
                           data-bind="attr: { value: id,
                                              name: 'question' + $parent.question.id(),
                                              'disabled': $root.surveyResponseForm.surveyResponse.survey.closed },
                                      checked: $parent.answerId" />
                    <span class="name" data-bind="text: name"></span>
                </div>
            </div>
        </div>
    </div>
</section>