<section class="surveyResponses" style="padding-left: 15px;">
    <!-- ko if: surveyResponses().length === 0 -->
    <div style="padding: 15px;">
        No survey responses
    </div>
    <!-- /ko -->

    <!-- ko foreach: surveyResponses -->
    <div>
        <h4 class="survey-name">
            <a data-bind="text: survey.name,
                          attr: { 'href' : '#surveyResponses/leaguePlayers/' + leaguePlayer.id + '/surveys/' + survey.id }"></a>
        </h4>
        <!-- ko if: survey.deadline -->
            <span data-bind="dateTime: survey.deadline"></span>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</section>