<section style="padding: 15px;" data-bind="with: surveyFeed">
    <a href="#surveyFeeds"><i class="fa fa-arrow-left"></i> Survey Feeds</a>
    <h2 data-bind="text: name"></h2>
    <div>
        <h3>Authors</h3>
        <!-- ko foreach: users -->
            <div data-bind="text: fullName"></div>
        <!-- /ko -->
    </div>
    <div>
        <h3>Surveys</h3>
        <!-- ko foreach: surveys -->
        <div>
            <span class="icon-list">
                <i class="fa fa-trash-o htl-button" data-bind="click: $root.removeSurvey"></i>
            </span>
            <a class="name"
               data-bind="attr: { href : '#surveys/' + id()},
                          text: name">
            </a>
        </div>
        <!-- /ko -->
        <button data-bind="click: $root.addSurvey">Add Survey</button>
    </div>
</section>