<section style="padding-left: 15px;">
    <!-- ko if: surveyResponses().length === 0 -->
    <div style="padding: 15px;">
        No survey responses
    </div>
    <!-- /ko -->

    <!-- ko foreach: surveyResponses -->
    <div>
        <h3>
            <a data-bind="text: survey.name,
                          attr: { 'href' : '#surveyResponses/leaguePlayers/' + leaguePlayer.id + '/surveys/' + survey.id }"></a>
        </h3>
        <!-- ko with: leaguePlayer -->
            <span>League: <!-- ko text: league.name --><!-- /ko --></span>
            -
            <span>Player: <!-- ko text: player.name --><!-- /ko --></span>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</section>